@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;1,6..12,200;1,6..12,500&display=swap');

:root::before {
  display: block;
  content: "Students";
  text-align: center;
  font-size: 2.5rem;
  margin: 24px 0;
}

:root {
  margin: 0 auto;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

id::before {
  display:block;
  content:attr(number);
  font-size:1.5rem;
  text-align: left;
}

id {
  margin: 0 auto;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

contacts::before{
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  content: "Contacts:";
  font-size:1 rem;
  text-align: left;
  margin: 20px 0;
}


preferred-name::before{
  display: inline-block;
  margin-left: 1em;
  content: "Preferred Name:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

preferred-name {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

preferred-name::after{
  content: '\a';
  white-space: pre;
}

legal-name::before{
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Legal Name: ";
  padding-right: 9px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

legal-name {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

legal-name::after{
  content: '\a';
  white-space: pre;
}

email::before{
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Email:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

email {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

email::after{
  content: '\a';
  white-space: pre;
}

phone::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Phone Number:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

phone {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

phone::after{
  content: '\a';
  white-space: pre;
}

enrollment-info::before{
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  content: "Enrollment Info:";
  font-size:1 rem;
  text-align: left;
  margin: 20px 0;
}

grade-level::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Year:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

grade-level {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

grade-level::after{
  content: '\a';
  white-space: pre;
}

gpa::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "GPA:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

gpa {
  margin-left: 20px;
  margin: 20px;
    width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

gpa:after{
  content: '\a';
  white-space: pre;
}

advisor::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Advisor:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

advisor {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

advisor:after{
  content: '\a';
  white-space: pre;
}

major::before {
  display: inline-block;
  content: "Major:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

major {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

major:after{
  content: '\a';
  white-space: pre;
}

minor::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Minor:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

minor {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

minor::after{
  content: '\a';
  white-space: pre;
}

time-status::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Time Status:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

time-status {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

time-status::after{
  content: '\a';
  white-space: pre;
}

enrollment-date::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Enrollment Date:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

enrollment-date {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

enrollment-date::after{
  content: '\a';
  white-space: pre;
}

graduation-date::before {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  content: "Graduation Date:";
  padding-right: 10px;
  font-size:1rem;
  text-align: left;
  margin: 0 auto;
}

graduation-date {
  margin-left: 20px;
  margin: 20px;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

graduation-date::after{
  content: '\a';
  white-space: pre;
}